<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<dom-module id="line-chart">
  <template>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="../../styles/app-styles.css">

    <div class="container margin-g">
        <div id="curve_chart" style="width: {{width}}; height: {{height}}"></div>
    </div>
  </template>
  <script>

    class LineChart extends Polymer.Element {
      static get is() { return 'line-chart'; }
      static get properties() {
        return {
          myarray: {
            type: Array,
            value: []
          },
          xcol: {
            type: String
          },
          ycol:{
            type: String
          },
          title: {
            type: String
          },
          width:{
            type:String
          },
          height:{
            type:String
          }
        };
      }
      drawChart() {
        var data = [];
        data[0] = [this.xcol, this.ycol]
        var aux = this.myarray.length;
        for (var i = 0; i < this.myarray.length; i++) {
          aux--;
          data[i+1] = [this.myarray[aux][this.xcol], Number(this.myarray[aux][this.ycol])];
        }

        var dataG = google.visualization.arrayToDataTable(data);
        var options = {
          title: this.title,
          curveType: 'function',
          legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(this.$.curve_chart);

        chart.draw(dataG, options);
      }
    }

    window.customElements.define(LineChart.is, LineChart);
  </script>
</dom-module>
