<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<dom-module id="pie-chart">
  <template>
    <style>
      :host {
        display: block;
        all : initial;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <div class="container padding-0">

      <div id="lienzo" class="d-flex justify-content-center h-100 card-body "></div>

    </div>
  </template>
  <script>

    class PieChart extends Polymer.Element {
      static get is() { return 'pie-chart'; }
      static get properties() {
        return {
          myarray: {
            type: Array,
            value: []
          },
          stringcol: {
            type: String
          },
          numbercol:{
            type: String
          },
          title: {
            type: String
          },
          width:{
            type:Number
          },
          height:{
            type:Number
          }
        };
      }

      drawChart() {
        //console.log("Dibujando");
        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', this.stringcol);
        data.addColumn('number', this.numbercol);
        var dataG = [];
        for (var i = 0; i < this.myarray.length; i++) {
          dataG[i] = [this.myarray[i][this.stringcol], Number(this.myarray[i][this.numbercol])];
        }
        //console.log(dataG);
        data.addRows(dataG);

        var options = {'title': this.title,
                       'width':this.width,
                       'height':this.height};

        // Instantiate and draw our chart, passing in some options.
        var elemento = this.$.lienzo;
        //this.shadowRoot.querySelector('#chart_div');
        var chart = new google.visualization.PieChart(elemento);
        //var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    }

    window.customElements.define(PieChart.is, PieChart);
  </script>
</dom-module>
