<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="./movimientos-alta.html">
<link rel="import" href="../../bower_components/rsat-popup/rsat-popup.html">

<dom-module id="movimientos-listado">
  <template>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="../../styles/app-styles.css">

  <div class="container">
    <div class="table-responsive">
      <table class="table table-striped table-hover table-primary">
        <thead class="thead-light">
          <tr>
            <th scope="col"><i class="far fa-arrow-alt-circle-left icon-m button-new" on-click="volver" title="Go back"><h5>Date</h5></th>
            <th scope="col" class="text-center" width="65%">
              <!-- <i id="transfer" class="fas fa-exchange-alt  icon-m button-new" on-click="openModalMovimiento" title="Transfer"></i> -->
              <h5>Concept</h5>
            </th>
            <th scope="col" class="text-right">
              <i id="transfer" class="fas fa-exchange-alt  icon-m button-new padding-right-1" on-click="openModalMovimiento" title="Transfer">   </i>
              <i id="new" class="far fa-plus-square icon-m button-new" on-click="openModalMovimiento" title="New movement"></i>
              <h6>Amount</h6>
            </th>
          </tr>
        </thead>
        <tbody>
          <template is="dom-if" if="[[_vacio(movimientos)]]">
            <h5>There are no movements</h5>
          </template>
          <template
            is="dom-repeat" es
            items=[[movimientos]]
            as="movimiento">
            <tr>
              <td><h4>[[movimiento.date]]</h4><h6>[[movimiento.time]]</h6></td>
              <td width="65%" class="text-center"><h4> [[movimiento.concept]]</h4><i title$="{{movimiento.tag}}" class$="{{_getIcon(movimiento.tag)}}"></i></td>
              <td class="text-right">
                <h5 class$="{{_getColor(movimiento.amount)}}">[[movimiento.amount]]</h5>
                <span>Current balance {{_formatNumber(movimiento.balance)}}</span>
              </td>
            </tr>
          </template>
        </tbody>
      </table>
    </div>
  </div>

  <rsat-popup id="altaMovimiento" pos="center" backdrop="true" show="false">
    <movimientos-alta
      id="newMovement"
      on-new-movement="newMovement"
      on-cancel-movement="closeModal"
      idaccount="[[idaccount]]"
      accounts="[[accounts]]"
    ></movimientos-alta>
  </rsat-popup>
  </template>

  <script>

    class MovimientosListado extends Polymer.Element {
      static get is() { return 'movimientos-listado'; }
      static get properties() {
        return {
          movimientos: {
            type: Array,
            value: []
          },
          accounts: {
            type: Array,
            value: []
          },
          idaccount:{
            type: Number
          }
        };
      }
      _getIcon(tag){
        switch (tag) {
          case 'CASA':
              return 'fas fa-home font-orange';
            break;
          case 'OCIO':
              return 'fas fa-cocktail font-green';
            break;
          case 'INGRESO':
              return 'fas fa-sign-in-alt font-blue';
          case 'GASTO':
              return 'fas fa-sign-out-alt font-red';
          case 'TRANSFER':
            return 'fas fa-exchange-alt';
          default:
            return 'fas fa-question-circle'
        }
      }
      _getColor(amount){
        if (amount < 0 )
          return 'font-red';
        else
          return 'font-green';
      }
      _formatNumber(number){
        return  number.toFixed(2);
      }
      openModalMovimiento(event){
        console.log(event.path[0].id);
        if (event.path[0].id == 'transfer'){
          this.$.newMovement.transfer = true;
        }
        else {
          this.$.newMovement.transfer = false;
        }
        this.$.altaMovimiento.show = true;
      }
      closeModal(e){
        this.$.altaMovimiento.setAttribute("show",false);
      }
      volver(){
        window.location = "/account/";
      }
      _vacio(m){
        // console.log("Comprobando si hay movimientos");
        if(m == null){
          return true;
        }else{
          return false;
        }
      }
      newMovement(e){
        this.$.altaMovimiento.setAttribute("show",false);
        this.dispatchEvent(new CustomEvent('new-movement-insert',e));
      }
    }
    window.customElements.define(MovimientosListado.is, MovimientosListado);
  </script>
</dom-module>
