<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="./movimientos-listado.html">
<link rel="import" href="./movimientos-dm.html">
<link rel="import" href="../visor-errores/visor-errores.html">
<link rel="import" href="../charts/line-chart.html">


<dom-module id="movimientos-user">
  <template>
    <div id="divGrafico" hidden>
      <line-chart
        id="graficolineas"
        width="100%"
        height="200px"
        title="Balance's summary"
        myarray="[[movimientos]]"
        xcol="date"
        ycol="balance"
        ></line-chart>
    </div>

    <visor-errores id="errorg"
      msg=[[msg]] tipo=[[tipo]]>
    </visor-errores>

    <movimientos-listado
      movimientos=[[movimientos]]
      on-new-movement-insert="insertMovement"
      idaccount=[[idAccount]]
      accounts="[[accounts]]">
    </movimientos-listado>
   <input type="hidden" value={{idAccount}} id=cuenta>

    <movimientos-dm
      id="movimientosDM" idAccount={{idAccount}}
      on-movements-loaded="_movementsLoaded"
      on-accounts-loaded="_accountsLoaded"
      on-error-general="_mostrarError">
    </movimientos-dm>
  </template>

  <script>

    class MovimientosUser extends Polymer.Element {
      static get is() { return 'movimientos-user'; }
      static get properties() {
        return {
          movimientos: {
            type: Array,
            value: [],
            observer: '_mostrarG'
          },
          idAccount: {
            type: Number
          },
          tipo: {
            type: Number
          },
          accounts: {
            type: Array,
            value : []
          }
        };
      }

      ready() {
        super.ready();
        var idAccount=this.$.cuenta.value;
        this.$.movimientosDM.getMovements(idAccount);
        this.$.movimientosDM.getAccounts();
      }

      _mostrarG(){
        if (this.accounts.length > 0){
          this.$.divGrafico.removeAttribute('hidden');
        }
      }
      _movementsLoaded(evt) {
        var movements = evt.detail;
        this.set('movimientos', movements);
        if (movements.length > 0){
          this.$.graficolineas.drawChart();
        }
      }
      _accountsLoaded(evt) {
        var accounts = evt.detail;
        this.set('accounts', accounts);
      }
      insertMovement(e){
        var idAccount=this.$.cuenta.value;
        if (e.detail.transfer){
          var movementOrig = {
          	date: e.detail.date,
          	time: e.detail.time,
          	concept:e.detail.concept,
            amount: -1 * e.detail.amount,
            tag : e.detail.tag
          }
          console.log("Destino");
          console.log(e.detail);
          console.log("Origen");
          console.log(movementOrig);
          this.$.movimientosDM.setMovement(movementOrig, idAccount, idAccount);
          this.$.movimientosDM.setMovement(e.detail, e.detail.desinatioAccounId, idAccount);
        }
        else {
            this.$.movimientosDM.setMovement(e.detail,idAccount, idAccount);
        }
      }
      _mostrarError(evt) {
        // console.log("Error a mostrar");
        if(evt.detail.message!=undefined){
          this.$.errorg.msg=evt.detail.message;
          this.tipo = 1;
        }
        if(evt.detail.msg!=undefined){
          this.$.errorg.msg=evt.detail.msg;
          this.tipo = 2;
        }

      }
    }

    window.customElements.define(MovimientosUser.is, MovimientosUser);
  </script>
</dom-module>
