<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="movimientos-alta">
  <template>
    <link rel="stylesheet" href="../../styles/app-styles.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <form id="formNewMov">
      <div class="form-popup">
        <div class="form-group">
            <label for="amount" class="control-label"><i class="fas fa-euro-sign"></i> Amount </label>
            <input type="number" value="{{amount::input}}" required="required" class="form-control" id="amount" name="amount" placeholder="100.000€">
        </div>

        <div class="form-group">
            <label for="concept" class="control-label"><i class="fas fa-question-circle"></i> Concept </label>
            <input type="text" value="{{concept::input}}" required="required" class="form-control" id="concept" name="concept" placeholder="House rental March...">
        </div>

        <div class="form-group" hidden="{{transfer}}">
            <label for="tag" class="control-label"><i class="fas fa-tag"></i> Tag </label>
            <select class="form-control" id="tag" value="{{tag::change}}" required="{{!transfer}}"  >
                <option value="">Select a tag</option>
                <option value="CASA">CASA</option>
                <option value="OCIO">OCIO</option>
                <option value="INGRESO">INGRESO</option>
                <option value="GASTO">GASTO</option>
            </select>
        </div>

        <div class="form-group" hidden="{{!transfer}}">
            <label for="account" class="control-label"><i class="fas fa-money-check-alt"></i> Account </label>
            <select class="form-control" id="account" value="{{selectAccount::change}}" required="{{transfer}}" >
                <option >Select account</option>
                <template
                  is="dom-repeat" es
                  items=[[accounts]]
                  as="account">
                  <template is="dom-if" if="[[_isEqualTo(account.id)]]">
                    <option value="[[account.id]]">[[account.iban]] ([[account.balance]]€)</option>
                  </template>
                </template>
            </select>
        </div>

        <div class="row">
          <div class="col-6 text-left">
              <button class="btn btn-secondary align-left" on-click="closeModal">Cancel!</button>
          </div>
          <div class="col-6 text-right">
              <button class="btn btn-primary align-right" type="submit" on-click="newMovement">Send</button>
          </div>
        </div>
  	  </div>
    </form>

  </template>

  <script>

    class MovimientosAlta extends Polymer.Element {
      static get is() { return 'movimientos-alta'; }
      static get properties() {
        return {
          amount : {
            type: Number
          },
          concept : {
            type : String
          },
          tag : {
            type : String
          },
          transfer : {
            type : Boolean,
            value : false
          },
          accounts : {
            type : Array,
            value : []
          },
          idaccount:{
            type: Number
          },
          selectAccount : {
            type : Number
          }
        };
      }
      ready(){
        super.ready();
      }
      closeModal(){
        this.dispatchEvent(new CustomEvent('cancel-movement', { detail: false, bubbles: true, composed: true }));
      }
      _isEqualTo(idAccount){
        return (idAccount != this.idaccount)
      }
      newMovement(event){
        if (this.$.formNewMov.checkValidity()){
          event.preventDefault();
          var d = new Date();
          var movement = {
          	date: ("0" + d.getDate()).slice(-2) + '/' + ("0" + d.getMonth()).slice(-2) + '/' + d.getFullYear(),
          	time: ("0" + d.getHours()).slice(-2) + ':' + ("0" + d.getMinutes()).slice(-2),
          	concept:this.concept,
            amount: this.amount
          }
          if (this.transfer){
            movement.tag = 'TRANSFER';
            movement.desinatioAccounId = this.selectAccount;
            movement.transfer = true;
          }
          else {
              movement.tag = this.tag;
              movement.transfer = false;
          }
          this.dispatchEvent(new CustomEvent('new-movement', { detail: movement, bubbles: true, composed: true }));
        }
      }
    }

    window.customElements.define(MovimientosAlta.is, MovimientosAlta);
  </script>
</dom-module>
