<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="movimientos-dm">
  <script>

    class movimientosDM extends Polymer.Element {
      static get is() { return 'movimientos-dm'; }
      static get properties() {
        return {
          idAccount: {
            type: Number
          }
        };
      }
      getMovements(idAccount) {
        var url = 'http://localhost:3000/apiraqueljorge/v1/account/'+parseInt(idAccount)+'/movement';
        var tsec = sessionStorage.getItem("tsec");

        if(tsec!=null){
         fetch(url, {method: 'GET',mode: 'cors', headers:{'Content-Type': 'application/json','tsec': tsec}})
          .then(response => response.json())
          .then(json => {
            var movements = "";
            if(json.length == undefined ){
              this.dispatchEvent(new CustomEvent('error-general', { detail: json, bubbles: true, composed: true }));
            }else{
              movements = json.map((movimiento) => {
                return {
                  id: movimiento.id,
                  idAccount: movimiento.idAccount,
                  date: movimiento.date,
                  time: movimiento.time,
                  concept: movimiento.concept,
                  amount: movimiento.amount,
                  balance: movimiento.balance,
                  tag: movimiento.tag
                };
              });
            }
            this.dispatchEvent(new CustomEvent('movements-loaded', { detail: movements, bubbles: true, composed: true }));
          })
          .catch(error =>
            this.dispatchEvent(new CustomEvent('error-general', { detail: error, bubbles: true, composed: true }))
            );
        }else{
          window.location="/";
        }
      }

      setMovement(data,idAccount, idAccountActual){
        var url = "http://localhost:3000/apiraqueljorge/v1/account/" + parseInt(idAccount) + "/movement/";
        var tsec = sessionStorage.getItem("tsec");

        if(tsec!=null){
          fetch(url, {
                method: 'POST',
                body: JSON.stringify(data),
                mode: 'cors',
                headers:{
                  'Content-Type': 'application/json',
                  'tsec': tsec
                }
              })
              .then(response => response.json())
              .then(json => {
                this.dispatchEvent(new CustomEvent('error-general', { detail: json, bubbles: true, composed: true }));
                this.getMovements(idAccountActual);
              })
              .catch(error =>
                this.dispatchEvent(new CustomEvent('error-general', { detail: error, bubbles: true, composed: true }))
                );
        }else{
          window.location="/";
        }
      }

      getAccounts() {
        // console.log("Listando cuentas en cuentasDM");
        var url = "http://localhost:3000/apiraqueljorge/v1/account";
        var tsec = sessionStorage.getItem("tsec");

        fetch(url, {
              method: 'GET',
              mode: 'cors',
              headers:{
                'Content-Type': 'application/json',
                'tsec': tsec
              }
            })
          .then(response => response.json())
          .then(json => {
            if(json.length == undefined ){
              console.log("Error");
              this.dispatchEvent(new CustomEvent('error-general', { detail: json, bubbles: true, composed: true }));
            }else{
                var accounts = json.map((cuenta) => {
                return {
                  id: cuenta.id,
                  iban: cuenta.iban,
                  balance: cuenta.balance
                };

              });
              this.dispatchEvent(new CustomEvent('accounts-loaded', { detail: accounts, bubbles: true, composed: true }));
            }

          })
          .catch(error =>
            this.dispatchEvent(new CustomEvent('error-general', { detail: error, bubbles: true, composed: true }))

          );
      }

    }
    window.customElements.define(movimientosDM.is, movimientosDM);
  </script>
</dom-module>
