<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="login-usuario">
  <template>
    <style>
      :host {
        display: block;
        all : initial;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="../../styles/app-styles.css">

    <div class="container" hidden$={{logged}} id="errores">
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <a class="close" on-click="_ocultar">×</a>
      {{msg}}
      </div>
    </div>

        <div class="d-flex justify-content-center h-100 padding-login">
      		<div class="card">
      			<div class="card-body">
              <form id="formLogin">
      					<div class="input-group form-group">
      						<div class="input-group-prepend">
      							<span class="input-group-text"><i class="fas fa-user"></i></span>
      						</div>
      						<input type="email" placeholder=" Email" value="{{email::input}}" required="required" auto-validate>
      					</div>
      					<div class="input-group form-group">
      						<div class="input-group-prepend">
      							<span class="input-group-text"><i class="fas fa-key"></i></span>
      						</div>
      						<input type="password" placeholder=" Password" value="{{password::input}}" required="required">
      					</div>
      					<div class="form-group">
                  <button on-click="login" type="submit" class="btn btn-info btn-block">Login</button>
      					</div>
              </form>
      			</div>
      			<div class="card-footer">
              <div class="d-flex justify-content-center">
      					<a href="/new/">Sign Up</a>
      				</div>
      			</div>
      		</div>
      	</div>
      </div>

      <iron-ajax id="doLogin"
        url="http://localhost:3000/apiraqueljorge/v1/login"
        handle-as="json"
        content-type="application/json"
        method="POST"
        on-response="manageAJAXResponse"
        on-error="showError">

  </template>

  <script>

    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login-usuario'; }
      static get properties() {
        return {
          email: {
            type: String
          },
          password : {
            type : String
          },
          logged : {
            type : Boolean,
            value : true
          },
          msg: {
            type: String
          }
        };
      }
      login(event){
        var loginData = {
          "email" : this.email,
          "password" : this.password
        }
        if (this.$.formLogin.checkValidity()){
          event.preventDefault();
          this.$.doLogin.body = JSON.stringify(loginData);
          this.$.doLogin.generateRequest();
        }
      }

      manageAJAXResponse(data){
        sessionStorage.setItem('tsec', data.detail.response.tsec);
        sessionStorage.setItem('email', this.email);
        var data = {
          "logged" : true
        }
        this.logged = true;
        window.location = "account/";
      }
      showError(error){
        // console.log("Hubo un error");
        this.msg = error.detail.request.response.msg;
        this.logged=false;
      }
      _ocultar(){
        this.$.errores.hidden=true;
      }
    }

    window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>
</dom-module>
