<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../maps/map-view.html">
<dom-module id="logout-usuario">
  <template>
    <style>
      :host {
        display: block;
        all : initial;
      }

    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="../../styles/app-styles.css">

    <div class="row cabecera">
      <div class="col">
        <map-view>R&J BANK</map-view>
          <!-- <i class="fas fa-landmark font-white font-logo"> R&J BANK</i> -->
      </div>
      <div  class="col">
        <div class="row">
          <div hidden class="col-2 offset-10" id="logoutIcon">
            <div class="row">
                  <i class="fas fa-user profile margin-auto"></i>
            </div>
            <div class="row">
              <span class="font-white margin-auto">[[email]]</span>
            </div>
            <div class="row">
                <i class="fas fa-sign-out-alt font-white margin-auto button-new" on-click="logout" title="Logout"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </template>
  <script>

    class LogoutUsuario extends Polymer.Element {
      static get is() { return 'logout-usuario'; }
      static get properties() {
        return {
          email: {
            type: String,
            value : sessionStorage.getItem('email'),
            observer : "vigilarMail"
          }
        };
      }
      logout(){
        // console.log("Petición de logout");
        sessionStorage.setItem('tsec', null);
        sessionStorage.setItem('email', undefined);
        window.location = "/";
      }
      vigilarMail(valorActual, valorAnterior){
        if (valorActual != 'undefined'){
            this.$.logoutIcon.removeAttribute('hidden');
        }
      }

    }
    window.customElements.define(LogoutUsuario.is, LogoutUsuario);
  </script>
</dom-module>
