<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<dom-module id="new-user">
  <template>
    <style>
      :host {
        display: block;
        all : initial;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <div class="container" hidden$={{logged}} id="errores">
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <a class="close" on-click="_ocultar">×</a>
      {{msg}}
      </div>
    </div>

      <div class="container">
      	<div class="d-flex justify-content-center h-100">
      		<div class="card">
            <form id="formNewUser">
        			<div class="card-body">
                <div class="input-group form-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                  </div>
                  <input type="text" placeholder=" First Name" value="{{first_name::input}}" required="required">
                </div>
                <div class="input-group form-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-user-plus"></i></span>
                  </div>
                  <input type="text" placeholder=" Last Name" value="{{last_name::input}}" required="required">
                </div>
                <div class="input-group form-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-id-card"></i></span>
                  </div>
                  <input type="text" placeholder=" DNI" value="{{dni::input}}" required="required">
                </div>
                  <div class="input-group form-group">
        						<div class="input-group-prepend">
        							<span class="input-group-text"><i class="fas fa-at"></i></span>
        						</div>
        						<input type="email" placeholder=" Email" value="{{email::input}}" required="required">
        					</div>
        					<div class="input-group form-group">
        						<div class="input-group-prepend">
        							<span class="input-group-text"><i class="fas fa-key"></i></span>
        						</div>
        						<input type="password" placeholder=" Password" value="{{password::input}}" required="required">
        					</div>
        					<div class="form-group">
                    <button on-click="alta" type="submit" class="btn btn-info btn-block">Login</button>
        					</div>
        			</div>
            </form>
      			<div class="card-footer">
      				<div class="d-flex justify-content-center">
      					<a href="/">Back</a>
      				</div>
      			</div>
      		</div>
      	</div>
      </div>

      <iron-ajax id="doNew"
        url="http://localhost:3000/apiraqueljorge/v1/user"
        handle-as="json"
        content-type="application/json"
        method="POST"
        on-response="manageAJAXResponse"
        on-error="showError">

  </template>
  <script>

    class NewUser extends Polymer.Element {
      static get is() { return 'new-user'; }
      static get properties() {
        return {
          first_name: {
            type: String
          },
          last_name: {
            type: String
          },
          dni: {
            type: String
          },
          email: {
            type: String
          },
          password : {
            type : String
          },
          logged : {
            type : Boolean,
            value : true
          },
          msg: {
            type: String
          }
        };
      }
      alta(event){
        if (this.$.formNewUser.checkValidity()){
          event.preventDefault();
          var newData = {
            "first_name" : this.first_name,
            "last_name" : this.last_name,
            "dni" : this.dni,
            "email" : this.email,
            "password" : this.password
          }
          this.$.doNew.body = JSON.stringify(newData);
          this.$.doNew.generateRequest();
        }
      }
      manageAJAXResponse(data){
        // console.log("Llegaron los datos");
        sessionStorage.setItem('tsec', data.detail.response.tsec);
        sessionStorage.setItem('email', this.email);
        var data = {
          "logged" : true
        }
        this.logged = true;
        window.location = "/account/";

      }
      showError(error){
        // console.log("Hubo un error");
        this.msg = error.detail.request.response.msg;
        this.logged=false;
      }
      _ocultar(){
        this.$.errores.hidden=true;
      }
    }

    window.customElements.define(NewUser.is, NewUser);
  </script>
</dom-module>
