<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="visor-errores">
  <template>

    <style>
      :host {
        display: block;
        all : initial;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <div class="container div-peq" hidden$={{ver}} id="errores">
      <div class$="{{_getClase(tipo)}}" role="alert">
        <a class="close" on-click="_ocultar">×</a>
      {{msg}}
      </div>
    </div>

  </template>
  <script>

    class VisorErrores extends Polymer.Element {
      static get is() { return 'visor-errores'; }
      static get properties() {
        return {
          msg: {
            type: String,
            observer: '_courseChanged'
          },
          ver: {
            type: Boolean,
            value: true
          },
          tipo: {
            type: Number
          }
        };
      }
      _getClase(tipo){
        if (tipo == 1 )
          return 'alert alert-danger alert-dismissible fade show';
        else
          return 'alert alert-success alert-dismissible fade show';
      }
      _courseChanged(newValue, oldValue) {
        this.ver=false;
      }
      _ocultar(){
        this.$.errores.hidden=true;
      }

    }

    window.customElements.define(VisorErrores.is, VisorErrores);
  </script>
</dom-module>
