<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="./cuentas-alta.html">
<link rel="import" href="../../bower_components/rsat-popup/rsat-popup.html">

<dom-module id="cuentas-listado">
  <template>
    <style>
    </style>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="../../styles/app-styles.css">


    <div class="container">
      <div class="table-responsive">
        <table class="table table-striped table-hover table-primary">
          <thead class="thead-light">        
            <tr>
              <th scope="col"><h5>IBAN</h5></th>
              <th scope="col"  class="text-right"><i class="far fa-plus-square icon-m button-new" on-click="openModalCuenta" title="New account"></i><h5>Balance</h5></th>
            </tr>
          </thead>
          <tbody>

            <template
              is="dom-repeat"
              items=[[accounts]]
              as="account">
              <tr>
                <td><h4> [[account.iban]]<h4><i class="fas fa-money-check-alt font-m"></i></td>
                <td class="text-right">
                    <h4 class$="{{_getColor(account.balance)}}">[[account.balance]]€ <a class="fas fa-eye font-grey" href="/movement/[[account.id]]" title="Movements"></a></h4>
                        <span>Current balance [[account.balance]]€</span>
                </td>
              </tr>
            </template>
          </tbody>
        </table>
      </div>
    </div>

    <rsat-popup id="altaCuenta" pos="center" backdrop="true" show="false">
      <cuentas-alta id="webC" iban=[[iban]] on-alta-accounts-new="nuevaCuenta" on-cancel-account="closeModalT"></cuentas-alta>
    </rsat-popup>

  </template>

  <script>
    class CuentasListado extends Polymer.Element {
      static get is() { return 'cuentas-listado'; }
      static get properties() {
        return {
          accounts: {
            type: Array,
            value: []
          },
          total : {
            type: Number,
            value: 0,
            computed: '_totalBalanace(accounts.*)'
          },
          iban: {
            type: String
          }
        };
      }
      _vacio(m){
        if(m == null){
          return true;
        }else{
          return false;
        }
      }
      _totalBalanace(array){
        var i;
        var sum = 0
        for (i = 0; i < array.value.length; i++) {
          sum = sum + array.value[i].balance;
        }
        return sum;
      }

      _getColor(amount){
        if (amount < 0 )
          return 'font-red';
        else
          return 'font-green';
      }
      openModalCuenta(){
        // console.log("Generando IBAN");
        var fields = [{
            name: "iban",
            type: "IBAN"
        }]
        var url = 'https://my.api.mockaroo.com/ibanes.json?key=89c67120';

        fetch(url, {method: 'GET', headers:{'Content-Type': 'application/json'}})
              .then(response => response.json())
              .then(json => {
                this.iban = json.iban;
                this.$.altaCuenta.show = true;
              })
              .catch(error =>
                this.dispatchEvent(new CustomEvent('error-general', { detail: error, bubbles: true, composed: true }))
                );
      }
      nuevaCuenta(e){
        this.$.altaCuenta.setAttribute("show",false);
        this.dispatchEvent(new CustomEvent('accounts-new',e));
      }
      closeModalT(){
        this.$.altaCuenta.setAttribute("show",false);
      }
    }
    window.customElements.define(CuentasListado.is, CuentasListado);
  </script>
</dom-module>
