<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="cuentas-dm">
  <script>

    class CuentasDM extends Polymer.Element {
      static get is() { return 'cuentas-dm'; }
      static get properties() {
        return {

        };
      }

      getAccounts() {
        // console.log("Listando cuentas en cuentasDM");
        var url = "http://localhost:3000/apiraqueljorge/v1/account";
        var tsec = sessionStorage.getItem("tsec");

        fetch(url, {
              method: 'GET',
              mode: 'cors',
              headers:{
                'Content-Type': 'application/json',
                'tsec': tsec
              }
            })
          .then(response => response.json())
          .then(json => {
            if(json.length == undefined ){
              console.log("Error");
              this.dispatchEvent(new CustomEvent('error-general', { detail: json, bubbles: true, composed: true }));
            }else{
                var accounts = json.map((cuenta) => {
                return {
                  id: cuenta.id,
                  iban: cuenta.iban,
                  balance: cuenta.balance
                };

              });
              this.dispatchEvent(new CustomEvent('accounts-loaded', { detail: accounts, bubbles: true, composed: true }));
            }

          })
          .catch(error =>
            this.dispatchEvent(new CustomEvent('error-general', { detail: error, bubbles: true, composed: true }))

          );
      }
      setAccount(cuenta) {
        // console.log("Creando cuenta en cuentasDM");
        var url = "http://localhost:3000/apiraqueljorge/v1/account";
        var tsec = sessionStorage.getItem("tsec");

        fetch(url, {
              method: 'POST',
              body: JSON.stringify(cuenta),
              mode: 'cors',
              headers:{
                'Content-Type': 'application/json',
                'tsec': tsec
              }
            }).then(response => response.json())
            .then(json => {
              this.dispatchEvent(new CustomEvent('error-general', { detail: json, bubbles: true, composed: true }));
              this.getAccounts();
            })
            .catch(error =>
              this.dispatchEvent(new CustomEvent('error-general', { detail: error, bubbles: true, composed: true }))
            );

      }
    }

    window.customElements.define(CuentasDM.is, CuentasDM);
  </script>
</dom-module>
