<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="cuentas-alta">
  <template>
    <style>
    </style>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

  <div class="container">
    <div class="card-body">
        <div class="input-group form-group">

          <div class="form-group">
              <label for="IBAN" class="control-label" value="{{iban}}"><i class="fas fa-money-check-alt"></i> IBAN - {{iban}}</label>
          </div>
        </div>

        <div class="row">
          <div class="col-6 text-left">
              <button class="btn btn-secondary align-left" on-click="closeModal">Cancel!</button>
          </div>

          <div class="col-6 text-left">
            <button class="btn btn-primary align-right" on-click="crearCuenta">Send</button>
          </div>

        </div>
    </div>
</div>
  </template>

  <script>

    class CuentasAlta extends Polymer.Element {
      static get is() { return 'cuentas-alta'; }
      static get properties() {
        return {
          iban: {
            type: String
          }
        };
      }

      crearCuenta(evt){
        // console.log("crearCuenta");
        var cuenta = {
                      "iban": this.iban
                    }

         this.dispatchEvent(new CustomEvent('alta-accounts-new', { detail: cuenta, bubbles: true, composed: true }));
      }
      closeModal(){
        this.dispatchEvent(new CustomEvent('cancel-account', { detail: false, bubbles: true, composed: true }));
      }
    }
    window.customElements.define(CuentasAlta.is, CuentasAlta);
  </script>
</dom-module>
