<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="./cuentas-listado.html">
<link rel="import" href="./cuentas-dm.html">
<link rel="import" href="../visor-errores/visor-errores.html">
<link rel="import" href="../charts/pie-chart.html">

<dom-module id="cuentas-user">

  <template>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="../../styles/app-styles.css">

    <visor-errores id="errorg"
     msg=[[msg]] tipo=[[tipo]]>
    </visor-errores>
        <div class="container padding-0" id="graficos" hidden>
          <div class="display-flex">
            <pie-chart
                id="grafica"
                title="My Accounts"
                stringcol="iban"
                numbercol="balance"
                width="600"
                height="150"
                myarray=[[accounts]]>
            </pie-chart>
            <div class="card border-light card-total"  style="height:150px;width:100%">
              <div class="card-body">
                <h5 class="card-title text-right">Available</h5>
                <i class="fas fa-piggy-bank font-l font-green text-right" style="width:100%">  <span> [[total]] €</span></i>
              </div>
            </div>
          </div>
        </div>
          <cuentas-listado id="listadoCuentas"
            accounts=[[accounts]]
            on-accounts-new="_accountNew">
          </cuenta-listado>


   <cuentas-dm
     id="cuentasDM"
     on-accounts-loaded="_accountLoaded" on-error-general="_mostrarError">
   </cuentas-dm>

  </template>

  <script>
    class CuentasUser extends Polymer.Element {
      static get is() { return 'cuentas-user'; }
      static get properties() {
        return {
          accounts: {
            type: Array,
            value: [],
            observer: '_mostrarG'
          },
          msg: {
            type: String
          },
          total : {
            type: Number,
            value: 0,
            computed: '_totalBalanace(accounts.*)'
          },
          tipo : {
            type:Number
          }
        };
      }

      ready() {
        super.ready();
        this.$.cuentasDM.getAccounts();
      }
      _mostrarG(){
        if (this.accounts.length > 0){
          this.$.graficos.removeAttribute('hidden');
        }
      }
      _accountLoaded(evt) {
        var accounts = evt.detail;
        this.set('accounts', accounts);
        console.log("Mostrar2");
        console.log( this.accounts.length > 0)
        if (accounts.length > 0){
            this.$.grafica.drawChart();
        }
      }
      _accountNew(evt) {
        var cuenta = evt.detail;
        // console.log("nueva cuenta");
        this.$.cuentasDM.setAccount(cuenta);
      }
      _mostrarError(evt) {
        // console.log("Error a mostrar");
        if(evt.detail.message!=undefined){
          this.$.errorg.msg=evt.detail.message;
          this.tipo=1;
        }
        if(evt.detail.msg!=undefined){
          this.$.errorg.msg=evt.detail.msg;
          this.tipo=2;
        }
      }
      _totalBalanace(array){
        var i;
        var sum = 0
        for (i = 0; i < array.value.length; i++) {
          sum = sum + array.value[i].balance;
        }
        return sum;
      }
    }
    window.customElements.define(CuentasUser.is, CuentasUser);
  </script>
</dom-module>
