
.profile{
  color: white;
  font-size: 1.5rem;
  border: solid 2px;
  padding: 1rem;
  border-radius: 54%;
}
.margin-auto{
  margin: auto;
}
.font-white{
  color: white;
}
.font-green{
  color: green;
}
.font-grey{
  color: #495057;
}
.font-blue{
  color: #024283;
}
.font-red{
  color: red;
}
.font-orange{
  color: #cc9126;
}

.button-new{
  font-size : 1.5rem;
  cursor: pointer;
}
.form-popup{
  padding: 2rem;
}
.font-m{
  font-size:2rem;
}
.font-l{
  font-size:4rem;
}
.font-logo{
  font-size:3.5rem;
  color: white;
}
.cabecera{
  padding: 1rem;
  padding-right: 2rem;
}
.hidden{
  visibility: hidden;
}
.center-img {
  display:block,
  margin : auto
}
.div-peq {
  width: fit-content;
}
.google-map {
  height: 50rem;
  width: 80rem;
}
.pointer{
  cursor: pointer;
}
.display-flex{
  display: flex;
}
.card-total{
  margin: 1.5rem;
}

body.main{
  /*background: url(../src/images/fondo-ciudad.jpg);*/
    background: url(../src/images/escritorio-01.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}
.padding-0{
  padding:0;
}
.padding-login{
  padding-top : 8rem;
}
.margin-left-0{
  margin-left:0;
}
.padding-left-0{
  padding-left:0 !important;
}
.margin-g{
  margin-bottom: 1rem;
}
.padding-right-1{
  padding-right: 1rem;
}
