<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="/bower_components/google-map/google-map.html">
<dom-module id="map-view">
  <template>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="../../styles/app-styles.css">

    <i id="location" on-click="openModal" class="fas fa-map-marked-alt font-white font-logo pointer"> R&J BANK</i>

    <rsat-popup id="mapPopup" pos="center" backdrop="true" show="false">
      <div class="form-popup">
        <div class="row">
            <i on-click="closeModal" class="far fa-times-circle pointer text-right font-m"></i>
        </div>
        <google-map class="google-map" latitude={{latitude}} longitude={{longitude}} zoom="18" api-key="AIzaSyAfoxi3RR3hMAuN4Q47OOdC7Wv-j_9YPn4">
          <google-map-marker latitude={{latitude}}  longitude={{longitude}} draggable="true"></google-map-marker>
        </google-map>
      </div>
    </rsat-popup>
  </template>
  <script>
   var map;
    class MapView extends Polymer.Element {
      static get is() { return 'map-view'; }
      static get properties() {
        return {
          latitude:{
            type:Number,
            value:40.415511
          },
          longitude:{
            type:Number,
            value:-3.7095896
          }
        };
      }
      openModal(){
        this.$.mapPopup.show = true;
      }
      closeModal(){
        this.$.mapPopup.setAttribute("show",false);
      }
    }
    window.customElements.define(MapView.is, MapView);
  </script>
</dom-module>
